In [1]:
# lambda functions are anonymys functions defined with the lambda keyword

In [2]:
# lambda input: expression
x = lambda x:x**2
print(x(4))

16

In [3]:
a = lambda x,y :x+y
print(a(3,5))

8

In [4]:
# differences

1. Lambda functions has no return value
2. One line
3. Not used for code reusability
4. No name

In [5]:
# Why
# Along with higher order functions
# functions are called higher order functions if they take other functions as arguments or a function that return another function as a result.

In [7]:
b = lambda x:x[0]=='a'
print(b('apple'))
b('banana')

True

False

In [8]:
b = lambda x:"Even" if x%2==0 else "Odd"
print(b(4))

Even

In [9]:
# Higher order functions

In [10]:
L  = [11,14,21,23,56,78,45,29,28]

def return_sum (L):
    even_sum = 0
    odd_sum = 0
    for i in L:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum, odd_sum

In [ ]:
# the above function can be re written as higher order function
def return_sum (func , L):
    sum = 0
    for i in L:
        if func(i):
            sum+=i
    return sum
x = lambda x:x%2==0
y = lambda x:x%2!=0
z = lambda x:x%3==0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

176
129
144

In [12]:
# Map 
# Filter
# reduce
# all three are builtin higher order functions

In [13]:
# map
L = [1,2,3,4,5,6,7,8,9,10]
map(lambda x:x**2 , L) # returns map object so we need to convert it to list
list(map(lambda x:x**2 , L))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(map(lambda x:x%2==0, L))

[False, True, False, True, False, True, False, True, False, True]

In [16]:
students = [
    {'name':'Alice', 'age':24},
    {'name':'Bob', 'age':19},
    {'name':'Charlie', 'age':22},
]
map(lambda student:student['name'], students)
list(map(lambda student:student['name'], students))

['Alice', 'Bob', 'Charlie']

In [ ]:
# FILTER filter any data based on given condition , it works only on filtered condition while map works on all data in a iterable
l = [1,2,3,4,5,6,7]
list(filter(lambda x:x>4 , l))

[5, 6, 7]

In [18]:
fruits = ['apple', 'oranges', 'mango', 'guava']
list(filter(lambda a: 'e' in a , fruits))

['apple', 'oranges']

In [19]:
# Reduce  it reduces the list to a single value by applying a function cumulatively to the items of an iterable from left to right
import functools
l = [5 , 7 , 8 , 13]
functools.reduce(lambda x,y:x+y , l)

33