In [1]:
#range function
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
#Sequence

In [4]:
#String 
"kolkata"

'kolkata'

In [6]:
("kolkata", "delhi")

('kolkata', 'delhi')

In [7]:
#for loop itertes over range funciton or sequence
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in (1 , 2, 3, 4, 5):
    print(i)

1
2
3
4
5