In [1]:
# Strings are sequences of characters used to store text data, or strings are sequence of unicode characters.

In [2]:
# Creating
c= "Hello, World!"  # double quotes

In [3]:
#it allow single quote double quote and triple quotes also suppose we want to print it's a nice day
c= 'It\'s a nice day'  # escape character
d= 'Hello, World!'  # single quotes
e= '''Hello, World!'''  # triple quotes
f= """Hello, World!"""  # triple quotes
print(c)

It's a nice day

In [4]:
# indexing and Slicing

In [6]:
c = 'hello'
print(c)

hello

In [7]:
print(c[0])  # first character

h

In [8]:
print(c[-1])

o

In [9]:
#string support two types of indexing positive and negative indexing
# positive indexing starts from 0 to n-1
# negative indexing starts from -1 to -n

In [10]:
# Slicing 
c = 'Hello, World!'
print(c[0:5])  # 'Hello'

Hello

In [11]:
print(c[0:5:2])  # 'Hlo' (every second character)

Hlo

In [12]:
print(c[2:])

llo, World!

In [13]:
print(c[::-1])  # 'dlroW ,olleH' (reversed string)

!dlroW ,olleH

In [14]:
c[0] = 'X'  # This will raise an error because strings are immutable

TypeError: 'str' object does not support item assignment

In [15]:
#strings are immutable means we cannot change the individual characters of a string once it is created.

In [18]:
del c
# string variable c is deleted now trying to print c will raise an error
print(c)

NameError: name 'c' is not defined

In [ ]:
# Operations on strings 
#arithmetic operations
#relational operations
#logical operations
#membership operations
#loops on strings

NameError: name 'c' is not defined

In [19]:
"hello" + " " + "world"  # concatenation

'hello world'

In [20]:
print("hello" * 3)  # repetition

hellohellohello

In [21]:
"hello" == "hello"  # True
"hello" != "world"  # True

True

In [23]:
"mumbai">"delhi"  # True
# comparison is lexicographical based on ASCII values

True

In [25]:
"goa"<"delhi"  # False

False

In [26]:
"hello" and "world"  # True

'world'

In [ ]:
"" and "world"  # False

'world'

In [30]:
#empty string is considered as False in logical operations

In [31]:
c = "Hello, World!"
for char in c:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [32]:
'h' in c

False

In [33]:
'o' in c

True