In [1]:
#Common functions in strings as well as other iterables

#len
#max
#min
#sorted

In [2]:
c = "Kolkata"
len(c)

7

In [3]:
max(c)

't'

In [4]:
min(c)

'K'

In [6]:
sorted(c)
# but the result obtain from sorted is a list of characters

['K', 'a', 'a', 'k', 'l', 'o', 't']

In [7]:
# These functions are available for strings only

In [9]:
c.capitalize() #convert     first character to uppercase

'Kolkata'

In [11]:
"its a rainy day".title() #convert first character of each word to uppercase

'Its A Rainy Day'

In [12]:
c.upper()

'KOLKATA'

In [13]:
c.lower() #convert all characters to lowercase

'kolkata'

In [14]:
"KolKaTa".swapcase() #convert uppercase to lowercase and vice versa

'kOLkAtA'

In [15]:
"it is raining".count("i") #count occurrences of a substring in a string

4

In [16]:
"it is raining".find("i") #find the first occurrence of a substring in a string, returns -1 if not found

0

In [17]:
"it is raining".index("i") #find the first occurrence of a substring in a string, raises an error if not found

0

In [18]:
"is is raining".endswith("g") #check if the string ends with a particular substring

True

In [19]:
"it is raining".startswith("i") #check if the string starts with a particular substring

True

In [20]:
"Hello my name is {} and I am {}".format("Rishabh", 20) #string formatting using format() function

'Hello my name is Rishabh and I am 20'

In [21]:
"Hello my name is {1} and I am {0}".format(20, "Rishabh") #string formatting using positional arguments

'Hello my name is Rishabh and I am 20'

In [22]:
"FLAT20".isalnum() #check if all characters in the string are alphanumeric

True

In [23]:
"Flat20@".isalpha() #check if all characters in the string are alphabetic

False

In [26]:
"Who is the pm of India".split() #split the string into a list of words based on whitespace

['Who', 'is', 'the', 'pm', 'of', 'India']

In [27]:
"Who is the pm of India".split("pm") #split the string into a list of words based on whitespace

['Who is the ', ' of India']

In [28]:
#join is reverse of split
"-".join(["2024", "06", "15"]) #join the list of strings into a single string with "-" as separator

'2024-06-15'

In [29]:
"HI my name is Rishabh".replace("Rishabh", "Rishu") #replace occurrences of a substring with another substring

'HI my name is Rishu'

In [30]:
name = "  Rishabh  "
name.strip() #remove leading and trailing whitespace

'Rishabh'