In [1]:
# Dictionary
# Dictionary has no indexing and slicing
# It is a mutable datatype
# Keys are always unique and immutable
# Values can be duplicate and mutable or immutable

In [2]:
# Mutables ->  list, set, dictionary (changes will be on same memory address)
# Immutables ->  int, float, string, tuple (changes will be on different memory address)

In [3]:
# Create
d = {
    "name": "Rishabh",
    "age": 21,
    "city": "New Delhi"}
print(d)  # {'name': 'Rishabh', 'age': 21, 'city': 'New Delhi'}

{'name': 'Rishabh', 'age': 21, 'city': 'New Delhi'}

In [4]:
d1 = {(1.,2): "Nitish"}
print(d1)

{(1.0, 2): 'Nitish'}

In [5]:
d2 = {"name": "Rishabh", "name": "Nitish"}
print(d2)  # {'name': 'Nitish'}  # duplicate keys not allowed

{'name': 'Nitish'}

In [6]:
D3 = {"Name":"Rishabh", "Marks":{"Maths":90, "Science":85}}
print(D3)  # {'Name': 'Rishabh', 'Marks': {'Maths': 90, 'Science': 85}}

{'Name': 'Rishabh', 'Marks': {'Maths': 90, 'Science': 85}}

In [8]:
D3["Name"]

'Rishabh'

In [10]:
# Edit in dictionary
D3["Name"] = "Nitish"
print(D3)  # {'Name': 'Nitish', 'Marks': {'Maths': 90, 'Science': 85}}

{'Name': 'Nitish', 'Marks': {'Maths': 90, 'Science': 85}}

In [11]:
D3.get("Name") # it is beneficial when key is not present it will return None instead of error

'Nitish'

In [13]:
# Add new key value pair
D3["Age"] = 21
print(D3)  # {'Name': 'Nitish', 'Marks': {'Maths': 90, 'Science': 85}, 'Age': 21}

{'Name': 'Nitish', 'Marks': {'Maths': 90, 'Science': 85}, 'Age': 21}

In [14]:
D3['Marks']['Maths']= 95
print(D3)  # {'Name': 'Nitish', 'Marks': {'Maths': 95, 'Science': 85}, 'Age': 21}

{'Name': 'Nitish', 'Marks': {'Maths': 95, 'Science': 85}, 'Age': 21}

In [15]:
del D3['Age']
print(D3)  # {'Name': 'Nitish', 'Marks': {'Maths': 95, 'Science': 85}}

{'Name': 'Nitish', 'Marks': {'Maths': 95, 'Science': 85}}

In [16]:
# using command d3.clear() we can clear all items in dictionary

In [17]:
# we can use loops in dictionary as well
for key in D3:
    print(key, ":", D3[key])

Name : Nitish
Marks : {'Maths': 95, 'Science': 85}

In [18]:
# wwe iterate through keys and values using items() method
for key, value in D3.items():
    print(key, ":", value)

Name : Nitish
Marks : {'Maths': 95, 'Science': 85}

In [19]:
# we cannot iterate over values directly like list using for value in D3.values():
#     print(value)

In [20]:
# we have some functions here
# len(D3)  # gives number of key value pairs
# D3.keys()  # gives all keys in dictionary
# D3.values()  # gives all values in dictionary
# D3.items()  # gives all key value pairs as tuple in a list
# D3.copy()  # gives a shallow copy of dictionary
# D3.fromkeys()  # creates a new dictionary from given sequence of elements with a