In [1]:
# tuples are quite similar to lists

In [2]:
# create

In [3]:
T1= ()
print(T1)

()

In [4]:
t2 = (1,2,3)
print(t2)

(1, 2, 3)

In [5]:
t3= (1,2,(3,4))
print(t3)

(1, 2, (3, 4))

In [7]:
t5 = (1) # it is not tuple
t6 = (1,)
print(t5, t6)

1 (1,)

In [9]:
t6 = tuple("Goa")
print(t6)

('G', 'o', 'a')

In [12]:
t6 = tuple([1,2,3,4])
print(t6)

(1, 2, 3, 4)

In [13]:
type(t6)

tuple

In [14]:
# Access

In [15]:
print(t2[0])
print(t2[-1])
print(t2[:4])

1
3
(1, 2, 3)

In [17]:
# Edit
# tuples does not support item assignment 
# tuples are immutable

In [18]:
# we can also not elements in a defined tuple

In [21]:
#Deleting


del t2

In [22]:
# we can do rest of operations same as list 
# but when we sort tuple then it is changed into list

In [23]:
#Tuples are read only data type

In [24]:
#It is highly useful when data integrity is top most priority

In [25]:
# Assume for a condition when we are tnp manager and we want to maintain records of students